.todo {
    display: grid;
    justify-content: center;
    background: #52c234;
    background: -webkit-linear-gradient(to right, #52c234, #061700);
    background: linear-gradient(to right, #52c234, #061700);
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1020px;
    color: #fff;
}

#titulop {
    text-align: center;
}

.container1 {
    display: flex;
    width: 1020px;
    height: 600px;
}

.container img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    box-shadow: 0px 0px 10px rgb(120, 9, 9);
}

.container img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    box-shadow: 0px 0px 25px rgb(120, 9, 9),
    0px 0px 50px rgb(120, 9, 9),
    0px 0px 100px rgb(120, 9, 9),
    0px 0px 150px rgb(120, 9, 9);
}

button {
    border: none;
    border-bottom: none;
    color: #fff;
    background: red;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

.info_button {
    margin-top: 15px;
}
